body {
    /* font-family: 'Arial', sans-serif; */
    background-color: #2d2f31;
    text-align: center;
    margin: 20px;
}

header {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

header h1 {
    color: rgba(255, 255, 255, 0.678);
    font-size: 24px;
    margin: 0;
}

.header-icon {
    width: 50px;
    margin-left: 20px;
}

#tabla {
    width: 100%; 
    border-collapse: collapse;
    margin: 20px 0; 
    background-color: rgb(184, 55, 55);
}

#tabla th {
    width: 66.75%;
}

#tabla, #tabla th, #tabla td {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
    color: rgba(255, 255, 255, 0.678);
}

#tabla thead {
    background-color: #da2222;
    color: rgba(255, 255, 255, 0.678);
    text-transform: uppercase;
}